{{#if message}} {{message}} {{/if}}


<form method="post">

    <table>

        <tr>
            <td>Class Title : </td>
            <td>
                <input type="text" placeholder="Class Title" name="title" required> </td>
        </tr>
        <tr>
            <td>Class Description :</td>
            <td>
                <input type="text" placeholder="Description" name="description" required>
            </td>
        </tr>
        <tr>
            <td>Instructor :</td>
            <td>
                <input type="text" placeholder="Instructor" name="instructor" required>
            </td>
        </tr>

        <tr>

            <td>
                <input type="submit">
                  <input type="button" value="Display" onclick="window.location='display'">
            </td>
        </tr>
    </table>





</form>