<h2>Classes</h2>

{{#each classes}}
	<div class="block">
		<p>Subject: {{title}}</p>
		<p>
			Description: {{description}}
		</p>
		<p>Instructor: {{instructor}}</p>
		<a class="button" href="/classes/{{_id}}/details">Class Details</a>
	</div>
{{/each}}